/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

/* Alerts */

.alert-primary-red {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-primary-blue {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

/* Outline unfilled required fields */
input:not(#middle_name).input-error {
  border: 1px solid red;
}

.invalid-feedback {
  display: none;
}

input:not(#middle_name).is-invalid {
  border: 1px solid red;
}

.form-control.is-invalid {
  padding-right: unset;
}

input#middle_name.is-invalid {
  border: 1px solid #ced4da;
  background-image: unset;
  background-repeat: unset;
  background-position: unset;
  background-size: unset;
}

input#middle_name.form-control.is-invalid:focus {
  color: #212529;
  border-color: #86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

/* Registry forms */
.form-floating.mb-3 {
  display: inline-block;
}

.form-control {
  display: initial;
}

form {
  display: inline-grid !important;
}

/* Print button hide elements on press */
@media print {
  body * {
    visibility: hidden;
  }
  #print-table, #print-table * {
    visibility: visible;
  }
  #print-table {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* Printbutton style */
.print-icon {
  cursor: pointer;
}

.print-icon:hover {
  cursor: pointer;
}

/* Printer Icon */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px!important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Text align */
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}




/* Search icon styling */
button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
.search-bar {
	display: flex!important;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

table.icon-table {
  float: right;
}

#print-table tbody tr:hover {
	background-color: #CFE2FF;
	cursor: pointer;
  }






/* Navigation link styling */
.nav-link {
	padding: 0rem 0rem;
}

.nav-item {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 0px 9px 0px 0px!important;
}

.nav-item:hover,
.nav-item:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.nav-item:hover {
  transform: translateY(-1px);
}

.nav-item:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}





/* Box for account overview */
.mt-3 {
	margin-top: 1rem!important;
	box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
	padding: 30px 30px 30px 30px;
	border-radius: 10px;
  }


