/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

/* Alerts */

.alert-primary-red {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-primary-blue {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

/* Outline unfilled required fields */
input:not(#middle_name).input-error {
  border: 1px solid red;
}

.invalid-feedback {
  display: none;
}

input:not(#middle_name).is-invalid {
  border: 1px solid red;
}

.form-control.is-invalid {
  padding-right: unset;
}

input#middle_name.is-invalid {
  border: 1px solid #ced4da;
  background-image: unset;
  background-repeat: unset;
  background-position: unset;
  background-size: unset;
}

input#middle_name.form-control.is-invalid:focus {
  color: #212529;
  border-color: #86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

/* Registry forms */
.form-floating.mb-3 {
  display: inline-block;
}

.form-control {
  display: initial;
}

form {
  display: inline-grid !important;
}

/* Print button */
@media print {
  body * {
    visibility: hidden;
  }
  #print-table, #print-table * {
    visibility: visible;
  }
  #print-table {
    position: absolute;
    left: 0;
    top: 0;
  }
}


.printbutton {
  float: right;
  align-items: center;
  background-clip: padding-box;
  background-color: #0d6efd;
  border: 1px solid transparent;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 20px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.printbutton:hover,
.printbutton:focus {
  background-color: #3F8CFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.printbutton:hover {
  transform: translateY(-1px);
}

.printbutton:active {
  background-color: #0d6efd;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px!important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Text align */
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}