/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
  }
  nav .navbar-brand .yellow
  {
    color: #f5b82e;
  }
  nav .navbar-brand .green
  {
    color: #2e944b;
  }

  .alert-primary-red{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
  
  .alert-primary-blue {
      color: #084298;
      background-color: #cfe2ff;
      border-color: #b6d4fe;
    }

/* Outline unfilled required fields */
  .input-error {
    border: 1px solid red;
  }
  
  .invalid-feedback {
    display: none;
  }

  .is-invalid {
    border: 1px solid red;
  }
  
/* Registry forms */
.form-floating.mb-3 {
    display: inline-block;
}

.form-control {
    width: auto;
    display: initial;
}

form {
  display: inline-grid!important;
}

/* Blue flash */