{% extends "layout.html" %}

{% block title %}
    Sel
{% endblock %}

{% block main %}
    <div class="container mt-3">
        <h2>Sel</h2>
        <form action="/sell" method="post">
            <div class="mb-3">
                <select class="form-select mt-3 mx-auto w-auto" name="symbol">
                    {% for symbol in symbols %}
                        <option value="{{ symbol }}">{{ symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mt-3 mx-auto w-auto" name="shares" placeholder="Nøgd" min="1" max="1000000000000000" step="1" onfocus="this.previousValue = this.value" onkeydown="this.previousValue = this.value" oninput="validity.valid || (value = this.previousValue)" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Sel</button>
        </form>
    </div>
{% endblock %}
