{% extends "layout.html" %}

{% block title %}
    Account Settings
{% endblock %}

{% block main %}
    <div class="container mt-3">
        <img src="https://img.icons8.com/material-outlined/24/000000/user.png"/>
        <h2 style="Margin: 0% 0% 3% 0%;/* font-family: var(--bs-body-font-family); */font-family: var(--bs-body-font-family);/* font-size: var(--bs-body-font-size); */font-weight: var(--bs-body-font-weight);line-height: var(--bs-body-line-height);color: var(--bs-body-color);text-align: var(--bs-body-text-align);background-color: var(--bs-body-bg);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;"><span style="color:#537FBE;">Account </span>Settings</h2>
        <form action="/account_settings" method="POST">
            
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}" placeholder="first_name"><label for="first_name">First Name</label></div>

            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ middle_name }}" placeholder="middle_name"><label for="middle_name">Middle Name</label></div>
            
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}" placeholder="last_name"><label for="last_name">Last Name</label></div>
          
            <div class="form-floating mb-3">            
            <input type="email" class="form-control" id="email" name="email" value="{{ email }}" placeholder="email"><label for="email">Email</label></div>

            <div class="form-floating mb-3">            
            <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{ phone_number }}" placeholder="phone_number"><label for="phone_number">Phone number</label></div>

            <div class="form-floating mb-3">            
            <input type="number" class="form-control" id="postal_code" name="postal_code" value="{{ postal_code }}" placeholder="postal_code"><label for="postal_code">Postal code</label></div>

            <div class="form-floating mb-3">            
            <input type="text" class="form-control" id="street_name" name="street_name" value="{{ street_name }}" placeholder="street_name"><label for="street_name">Street name</label></div>

            <div class="form-floating mb-3">            
            <input type="text" class="form-control" id="street_number" name="street_number" value="{{ street_number }}" placeholder="street_number"><label for="street_number">Street number</label></div>
          
            <div class="form-floating mb-3">
            <input type="password" class="form-control" id="hash" name="hash"><label for="hash">Password</label></div>
          
            <button class="btn btn-primary" type="submit">Save Changes</button>
          </form>
    </div>
{% endblock %}