{% extends "layout.html" %}

<head>
  <script src="{{ url_for('static', filename='form-validation.js') }}"></script>

  <!-- Include showTab JavaScript -->
  <script src="{{ url_for('static', filename='showTab.js') }}"></script>
</head>

{% block title %}
    Accounts & Loans
{% endblock %}

{% block main %}  

<center>
<div class="wrapper">
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Accounts</label>
      <div class="tab-content"><div class="container">
        <form method="post" action="/accounts_and_loans" style="
        margin: 8% 0% 0% 0%;
        padding: 2% 2% 2% 2%;
        border-radius: 10px;" required>
        <center><img src="https://img.icons8.com/ios/50/000000/bank-building--v1.png" style="height:40px; width:40px;"/></center><h2 style="Margin: 5% 0% 10% 0%;/* font-family: var(--bs-body-font-family); */font-family: var(--bs-body-font-family);/* font-size: var(--bs-body-font-size); */font-weight: var(--bs-body-font-weight);line-height: var(--bs-body-line-height);color: var(--bs-body-color);text-align: var(--bs-body-text-align);background-color: var(--bs-body-bg);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">Register Account</h2>
          <div class="form-floating mb-3">
            <select name="account_type" id="account_type" class="form-control">
              <optgroup label="Select Account Type" disabled>
                
              </optgroup>
              <option value="Checking account" selected>Checking account</option>
              <option value="Savings account">Savings account</option>
              </select>
            <div class="dropdown-arrow"></div>
            <label for="account_type">Account Type</label>
          </div>
          
          <div class="form-floating mb-3">
            <input type="text" name="accountname" id="account_name" class="form-control" placeholder="Account Name" required>
            <label for="accountname">Account Name</label>
          </div>
          
          <button type="submit" class="my-button">Open Account</button>
        </form>
      </div></div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
      <label for="tab-2" class="tab-label">Loans</label>
      <div class="tab-content"><div class="container">
        <form method="post" action="/accounts_and_loans" style="
        margin: 8% 0% 0% 0%;
        padding: 2% 2% 2% 2%;
        border-radius: 10px;">
        <center><img src="https://img.icons8.com/external-outline-andi-nur-abdillah/512/external-Loan-economy-crash-(outline)-outline-andi-nur-abdillah.png" style="height:40px; width:40px;"/></center><h2 style="Margin: 5% 0% 10% 0%;/* font-family: var(--bs-body-font-family); */font-family: var(--bs-body-font-family);/* font-size: var(--bs-body-font-size); */font-weight: var(--bs-body-font-weight);line-height: var(--bs-body-line-height);color: var(--bs-body-color);text-align: var(--bs-body-text-align);background-color: var(--bs-body-bg);-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">Apply For Loan</h2>
          <div class="form-floating mb-3">
            <select name="account_type" id="account_type" class="form-control">
              <optgroup label="Select Loan Type" disabled>
              </optgroup>
              <option value="Mortgage" selected>Mortgage</option>
              <option value="Car loan">Car loan</option>
            </select>
            <div class="dropdown-arrow"></div>
            <label for="account_type">Loan Type</label>
          </div>
          
          <div class="form-floating mb-3">
            <input type="text" name="accountname" id="account_name" class="form-control" placeholder="Account Name" required>
            <label for="accountname">Loan Name</label>
          </div>
          
          <button type="submit" class="my-button">Register loan</button>
        </form>
      </div></div>
    </div>
    </div>
  </div>
</div></center>
<div style="height:455px;"></div>

{% endblock %}
