{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>function printTable() {
    window.print();
  }</script><script>function searchTable() {
  var input, filter, table, tr, td, i, j, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("print-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}</script>
    <div class="container mt-3">

        <h2>{{first_name}}'s Account Overview</h2> 
        <input type="text" id="search-input" onkeyup="searchTable()" placeholder="Search..">
        <button class="printbutton" onclick="printTable()"><i class="fa fa-print"></i></button>
        <table id="print-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="left-align">Account Name</th>
                    <th>Account ID</th>
                    <th>Account Type</th>
                    <th class="right-align">Available Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td class="left-align">{{ account["accountname"] }}</td>
                    <td>{{ account["accountnum"] }}</td>
                    <td>{{ account["account_type"] }}</td>
                    <td class="right-align"><span style="font-weight: bold;">{{ account["balance"] }}</span> DKK</td>

                </tr>
                {% endfor %}
                
                <!--
                {% for row in database %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ names }}</td>
                                <td>{{ row["shares"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></d>
                    <td></td>
                    <td></td>
                    <th>Saldo</th>
                </tr>
                <tr>
                    <td></td>-->
                    <!--<td></td>--><!--
                    <td></td>
                    <th>Virði tilsamans</th>
                </tr>-->
            </tfoot>
        </table>
    </div>
{% endblock %}
