{% extends "layout.html" %}

{% block title %}
    Payment_success
{% endblock %}

{% block main %}
<div class="flash-message">
  <div class="alert alert-success">
      Your payment was successful.
  </div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<style>.py-5{
  padding-top: 0px!important;
}</style>

<center>
  <div class="lottie-player-wrapper">
    <lottie-player id="second-lottie" src="https://assets6.lottiefiles.com/packages/lf20_GD2RmK.json" background="transparent" speed="1" style="width: 400px; height: 400px;" autoplay></lottie-player>
  </div>
</center>



{% endblock %}