{% extends "layout.html" %}

{% block title %}
    Customer Search
{% endblock %}

{% block main %}

<div>
    <form action="/portal_customer_search" method="GET">
                
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="p_number" name="p_number" value="{{ p_number }}" placeholder="p_number"><label for="p_number"></label>
        <label for="p_number">P-number</label></div>

        <button class="btn btn-primary" type="submit" name="customer_search" value="p_number">Search</button>
    </form>
  </div>

{% if p_number %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>function printTable(tableId) {
  var tableToPrint = document.getElementById(tableId);
  window.print();
}</script>
  
  <script>function searchTable() {
  var input, filter, table, tr, td, i, j, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("print-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}</script>



<script>// Get search input element
var searchInput = document.getElementById("search-input");

// Add event listener to search input
searchInput.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
  }
});</script>
            
                
    <div class="container mt-3">

        <h2 class="overview name">Account Overview</h2>           
        <table class="icon-table">
            <tr>
              <td colspan="2">
                <form action="" class="search-bar">
                  <input type="text" id="search-input" onkeyup="searchTable()" placeholder="" required onkeypress="return event.keyCode != 13;">
                  <button class="search-btn" type="submit">
                    <span>Search</span>
                  </button>
                </form>
              </td>
              <td>
                <div class="print-icon" onclick="printTable()">
                  <i class="fa fa-print"></i></div>
              </td>
            </tr>
          </table>
          <table id="print-table" class="table table-striped">
            <thead>
              <tr>
                <th colspan="4" class="left-align" style="font-size: 24px">{{ full_name }}</th>
              </tr>
              <tr>
                <th class="left-align">Account Name</th>
                <th>Account Number</th>
                <th>Account Type</th>
                <th class="right-align">Balance</th>
              </tr>
            </thead>
            <tbody>
              {% for account in account_list %}
              <form method="POST" action="/">
                <input type="hidden" name="accountnum" value="{{ account['accountnum'] }}">
                <input type="hidden" name="accountname" value="{{ account['accountname'] }}">
                <input type="hidden" name="registration_number" value="{{ account['registration_number'] }}">
                <tr onclick="this.querySelector('button').click();" style="cursor: pointer;">
                  <td class="left-align">{{ account["accountname"] }}</td>
                  <td>{{ account["registration_number"] ~ "-" ~ account["accountnum"] }}</td>
                  <td>{{ account["account_type"] }}</td>
                  {% if account["balance"] > 0 %}
                      <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ account["balance"] | dkk }}</span> DKK</td>
                  {% elif account["balance"] < 0 %}
                      <td class="right-align"><span style="font-weight: bold; color: #A23333;">{{ account["balance"] | dkk }}</span> DKK</td>
                  {% else %}
                      <td class="right-align"><span style="font-weight: bold; color: black;">{{ account["balance"] | dkk}}</span> DKK</td>
                  {% endif %}
                  <td style="display:none;"><button type="submit">{{ account["accountname"]}}</button></td>
                </tr>
              </form>
              {% endfor %}
            </tbody>
            <tfoot style="border-bottom: 2px solid #000000;">
              <tr>
                <td class="left-align"><span style="font-weight: bold;">Total Balance</span></d>
                <td></td>
                <td></td>
                {% if total_balance > 0 %}
                    <td class="right-align"><span style="font-weight: bold; color: #aabe49;"><u>{{ total_balance | dkk }}</u></span> DKK</td>
                {% elif total_balance < 0 %}
                    <td class="right-align"><span style="font-weight: bold; color: #BE496F;"><u>{{ total_balance | dkk }}</u></span> DKK</td>
                {% else %}
                <td class="right-align"><span style="font-weight: bold; color: black;"><u>{{ total_balance | dkk }}</u></span> DKK</td>
                    
                {% endif %}
              </tr>
            </tfoot>
          </table>

<!-- HTML code for displaying the related customer's accounts -->
  
{% for related_customer in related_customers %}
      {% set i = loop.index0 %}

      <div>
          
        <table class="icon-table">
            <tr>
              <td colspan="2">
              </td>
              <td>
              </td>
            </tr>
      <table id="print-table" class="table table-striped">
        <thead>
          <tr>
            <th colspan="4" class="left-align" style="font-size: 24px">{{ related_customers_dict["full_names"][i] }}</th>
          </tr>
          <tr>
            <th class="left-align">Account Name</th>
            <th>Account Number</th>
            <th>Account Type</th>
            <th class="right-align">Balance</th>
          </tr>
        </thead>
        <tbody>
          {% for account in related_customers_dict["account_lists"][i] %}
          <form method="POST" action="/">
            <input type="hidden" name="accountnum" value="{{ account['accountnum'] }}">
            <input type="hidden" name="accountname" value="{{ account['accountname'] }}">
            <input type="hidden" name="registration_number" value="{{ account['registration_number'] }}">
            <tr onclick="this.querySelector('button').click();" style="cursor: pointer; ">
              <td class="left-align">{{ account["accountname"] }}</td>
              <td>{{ account["registration_number"] ~ "-" ~ account["accountnum"] }}</td>
              <td>{{ account["account_type"] }}</td>
              {% if account["balance"] > 0 %}
                  <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ account["balance"] | dkk }}</span> DKK</td>
              {% elif account["balance"] < 0 %}
                  <td class="right-align"><span style="font-weight: bold; color: #A23333;">{{ account["balance"] | dkk }}</span> DKK</td>
              {% else %}
                  <td class="right-align"><span style="font-weight: bold; color: black;">{{ account["balance"] | dkk}}</span> DKK</td>
              {% endif %}
              <td style="display:none;"><button type="submit">{{ account["accountname"]}}</button></td>
            </tr>
          </form>
          {% endfor %}
        </tbody>
    

    <tfoot style="border-bottom: 2px solid #000000;">
      <tr>
        <td class="left-align"><span style="font-weight: bold;">Total Balance</span></d>
          <td></td>
          <td></td>
          {% if related_customers_dict["total_balances"][i] > 0 %}
          <td class="right-align"><span style="font-weight: bold; color: #aabe49;"><u>{{ related_customers_dict["total_balances"][i] | dkk }}</u></span> DKK</td>
          {% elif related_customers_dict["total_balances"][i] < 0 %}
          <td class="right-align"><span style="font-weight: bold; color: #BE496F;"><u>{{ related_customers_dict["total_balances"][i] | dkk }}</u></span> DKK</td>
          {% else %}
          <td class="right-align"><span style="font-weight: bold; color: black;"><u>{{ related_customers_dict["total_balances"][i] | dkk }}</u></span> DKK</td>
          
          {% endif %}
        </tr>
      </tfoot>
    </table>
    </table>
    </div>
    {% endfor %}
    {% endif %}


{% endblock %}