{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}

{% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}


<script src="{{ url_for('static', filename='register-form-validation.js') }}"></script>

<form action="/register" method="post" onsubmit="return checkForm(event)">

    <div class="form-floating mb-3">
        <input
        autocomplete="off"
        autofocus
        class="form-control"
        id="p_number"
        name="p_number"
        placeholder="P-number"
        type="text"
      {% if request.form.get('p_number') %}
      value="{{ request.form.get('p_number') }}"
      {% else %}
      value=""
      {% endif %}
      />
      <label for="p_number">P-number</label>
      <div class="form-floating">
      </div>
    </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
    <label for="password">Password</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="confirmation"
      name="confirmation"
      placeholder="Re-type password"
      type="password"
    />
    <label for="confirmation">Confirm password</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="First name"
      type="text"
      {% if request.form.get('first_name') %}
      value="{{ request.form.get('first_name') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="first_name">First name</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="middle_name"
      name="middle_name"
      placeholder="Middle name"
      type="text"
      {% if request.form.get('middle_name') %}
      value="{{ request.form.get('middle_name') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="middle_name">Middle name</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="last_name"
      name="last_name"
      placeholder="Last name"
      type="text"
      {% if request.form.get('last_name') %}
      value="{{ request.form.get('last_name') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="last_name">Last name</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="postal_code"
      name="postal_code"
      placeholder="Postal code"
      type="text"
      {% if request.form.get('postal_code') %}
      value="{{ request.form.get('postal_code') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="postal_code">Postal code</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="street_name"
      name="street_name"
      placeholder="Street name"
      type="text"
      {% if request.form.get('street_name') %}
      value="{{ request.form.get('street_name') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="street_name">Street name</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="street_number"
      name="street_number"
      placeholder="Street number"
      type="text"
      {% if request.form.get('street_number') %}
      value="{{ request.form.get('street_number') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="street_number">Street number</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="phone_number"
      name="phone_number"
      placeholder="Phone number"
      type="text"
      {% if request.form.get('phone_number') %}
      value="{{ request.form.get('phone_number') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="phone_number">Phone number</label>
    <div class="form-floating">
    </div>
  </div>

  <div class="form-floating mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      id="email"
      name="email"
      placeholder="e-mail"
      type="text"
      {% if request.form.get('email') %}
      value="{{ request.form.get('email') }}"
      {% else %}
      value=""
      {% endif %}
    />
    <label for="email">e-mail</label>
    <div class="form-floating">
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
