{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>function printTable() {
    window.print();
  }</script><script>function searchTable() {
  var input, filter, table, tr, td, i, j, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("print-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}</script><script>// Get search input element
var searchInput = document.getElementById("search-input");

// Add event listener to search input
searchInput.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
  }
});</script>

    <div class="container mt-3">
        <h2 class="overview name">{{ accountname }}</h2>
        <h6 class="overview name">Account Number: {{ accountnum }}</h4>
        <table class="icon-table">
            <tr>
              <td colspan="2">
                <form action="" class="search-bar">
                  <input type="text" id="search-input" onkeyup="searchTable()" required onkeypress="return event.keyCode != 13;">
                  <button class="search-btn" type="submit">
                    <span>Search</span>
                  </button>
                </form>
              </td>
              <td>
                <div class="print-icon" onclick="printTable()">
                  <i class="fa fa-print"></i></div>
              </td>
            </tr>
          </table>
        <table id="print-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="left-align">Transfer Date</th>
                    <th>Transaction Type</th>
                    <th class="right-align">Amount</th>
                    <th class="right-align">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction_list %}
                <tr>
                    <td class="left-align">{{ transaction["transfer_date"] }}</td>
                    <td>{{ transaction["transaction_type_name"] }}</td>
                    {% if transaction["amount"] > 0 %}
                        <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ transaction["amount"] }}</span> DKK</td>
                    {% elif transaction["amount"] < 0 %}
                        <td class="right-align"><span style="font-weight: bold; color: #BE496F;">{{ transaction["amount"] }}</span> DKK</td>
                        {% else %}
                        <td class="right-align"><span style="font-weight: bold; color: black;">{{ transaction["amount"] }}</span> DKK</td>
                    {% endif %}
                    {% if transaction["balance_updated"] > 0 %}
                        <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ transaction["balance_updated"] }}</span> DKK</td>
                    {% elif transaction["balance_updated"] < 0 %}
                        <td class="right-align"><span style="font-weight: bold; color: #BE496F;">{{ transaction["balance_updated"] }}</span> DKK</td>
                    {% else %}
                        <td class="right-align"><span style="font-weight: bold; color: black;">{{ transaction["balance_updated"] }}</span> DKK</td>
                    {% endif %}
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
