{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>// Print function of print icon
function printTable() {
    window.print();
  }</script>
  
   
  <script>// Search function of account table
  function searchTable() {
  var input, filter, table, tr, td, i, j, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("print-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j]) {
        txtValue = td[j].textContent || td[j].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          break;
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
}</script><script>// Get search input element
var searchInput = document.getElementById("search-input");

// Add event listener to search input
searchInput.addEventListener("keydown", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
  }
});</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
      $('.modal').modal('hide');
  });
</script>

<div class="container mt-3">
  <h2 class="overview name">{{ accountname }}</h2>
  <table class="icon-table">
      <tr>
          <td colspan="2">
              <form action="" class="search-bar">
                  <input type="text" id="search-input" onkeyup="searchTable()" required onkeypress="return event.keyCode != 13;">
                  <button class="search-btn" type="submit">
                      <span>Search</span>
                  </button>
              </form>
          </td>
          <td>
              <div class="print-icon" onclick="printTable()">
                  <i class="fa fa-print"></i></div>
          </td>
      </tr>
  </table>




{% if f_transaction_list|length > 0 %}


  <script>var futurePaymentsAccordion = new bootstrap.Accordion(document.getElementById('future-payments-accordion'))</script>
<div class="text-center">
  <div class="accordion" id="future-payments-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="future-payments-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#future-payments-collapse" aria-expanded="false" aria-controls="future-payments-collapse">
          <span class="accordion-title">Future Payments</span>
        </button>
      </h2>
      <div id="future-payments-collapse" class="accordion-collapse collapse" aria-labelledby="future-payments-header" data-bs-parent="#future-payments-accordion">
        <div class="accordion-body">
          
          <table id="print-table2" class="table table-striped">
      <thead>
        <tr>
          <th colspan="4"></th>
        </tr>
        <tr>
            <th class="left-align">Due Date</th>
            <th>Sender</th>
            <th>Transaction Type</th>
            <th class="right-align">Amount</th>
        </tr>
      </thead>
      <tbody>

        

        {% for transaction in f_transaction_list %}
        <tr data-toggle="modal" data-target="#transactionModal{{ transaction['transaction_id'] }}">
            <td class="left-align">{{ transaction["due_date"] }}</td>
            <td>{{ transaction["sender_name"] }}</td>
            <td>{{ transaction["transaction_type_name"] }}</td>
            {% if transaction["amount"] > 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% elif transaction["amount"] < 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #BE496F;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% else %}
                <td class="right-align"><span style="font-weight: bold; color: black;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% endif %}
        </tr>
        {% endfor %}
        
        </table>

        <!-- Modal -->
{% for transaction in f_transaction_list %}
<div class="modal fade" id="transactionModal{{ transaction['transaction_id'] }}" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel{{ transaction['transaction_id'] }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel{{ transaction['transaction_id'] }}">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if transaction["amount"] is not none %}
                <p class="left-align"><strong>Amount:</strong> {{ transaction["amount"] | dkk }} DKK</p>
                {% endif %}
                {% if transaction["transaction_id"] is not none %}
                <p class="left-align"><strong>Transaction ID:</strong> {{ transaction["transaction_id"] }}</p>
                {% endif %}
                {% if transaction["account"] is not none %}
                <p class="left-align"><strong>Account:</strong> {{ registration_number }}-{{ accountnum }}</p>
                {% endif %}
                {% if transaction["message_to_receiver"] is not none %}
                <p class="left-align"><strong>Text from sender:</strong> {{ transaction["message_to_receiver"] }}</p>
                {% endif %}
                {% if transaction["own_text"] is not none %}
                <p class="left-align"><strong>Own text:</strong> {{ transaction["own_text"] }}</p>
                {% endif %}
                {% if transaction["due_date"] is not none %}
                <p class="left-align"><strong>Due Date:</strong> {{ transaction["due_date"] }}</p>
                {% endif %}
                {% if transaction["sender_name"] is not none %}
                <p class="left-align"><strong>Sender:</strong> {{ transaction["sender_name"] }}</p>
                {% endif %}
                {% if transaction["sender_account"] is not none %}
                <p class="left-align"><strong>Sender account:</strong> {{ registration_number }}-{{ transaction["sender_account"] }}</p>
                {% endif %}
                {% if transaction["receiver_name"] is not none %}
                <p class="left-align"><strong>Receiver:</strong> {{ transaction["receiver_name"] }}</p>
                {% endif %}
                {% if transaction["receiver_account"] is not none %}
                <p class="left-align"><strong>Receiver account:</strong> {{ transaction["receiver_account"] }}</p>
                {% endif %}
                {% if transaction["expedited_by"] is not none %}
                <p class="left-align"><strong>Expedited by:</strong> {{ transaction["expedited_by"] }}</p>
                {% endif %}
                {% if transaction["transaction_type_name"] is not none %}
                <p class="left-align"><strong>Transaction Type:</strong> {{ transaction["transaction_type_name"] }}</p>
                {% endif %}
                
                <script>
                  function printTransaction() {
                      var transactionDetails = document.querySelector('.modal-body').innerHTML;
                      var printWindow = window.open('', 'Print Window', 'height=400,width=600');
                      printWindow.document.write('<html><head><title>Transaction Details</title>');
                      printWindow.document.write('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">');
                      printWindow.document.write('</head><body>');
                      printWindow.document.write(transactionDetails);
                      printWindow.document.write('</body></html>');
                      printWindow.document.close();
                      printWindow.print();
                  }
                  </script>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="printTransaction()">Print</button>
          </div>
        </div>
    </div>
</div>
{% endfor %}
        
        
          </div>
      </div>
    </div>
  </div>
</div>

{% endif %}







  <table id="print-table" class="table table-striped">
      <thead>
        <tr>
          <th colspan="4" class="left-align" style="font-size: 24px">Account Number: {{ registration_number ~ '-' ~ accountnum }}</th>
        </tr>
        <tr>
            <th class="left-align">Transfer Date</th>
            <th>Transaction Type</th>
            <th class="right-align">Amount</th>
            <th class="right-align">Balance</th>
        </tr>
      </thead>
      <tbody>
        <script>
          var tableRows = document.querySelectorAll("#print-table tbody tr");
      
          tableRows.forEach(function (row) {
              row.addEventListener("click", function () {
                  var modalId = row.dataset.target;
                  var modal = document.querySelector(modalId);
                  $(modal).modal("show");
              });
          });
      </script>
        {% for transaction in transaction_list %}
        <tr data-toggle="modal" data-target="#transactionModal{{ transaction['transaction_id'] }}">
            <td class="left-align">{{ transaction["transfer_date"] }}</td>
            <td>{{ transaction["transaction_type_name"] }}</td>
            {% if transaction["amount"] > 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% elif transaction["amount"] < 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #BE496F;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% else %}
                <td class="right-align"><span style="font-weight: bold; color: black;">{{ transaction["amount"] | dkk }}</span> DKK</td>
            {% endif %}
            {% if transaction["balance_updated"] > 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #aabe49;">{{ transaction["balance_updated"] | dkk }}</span> DKK</td>
            {% elif transaction["balance_updated"] < 0 %}
                <td class="right-align"><span style="font-weight: bold; color: #BE496F;">{{ transaction["balance_updated"] | dkk }}</span> DKK</td>
            {% else %}
                <td class="right-align"><span style="font-weight: bold; color: black;">{{ transaction["balance_updated"] | dkk }}</span> DKK</td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
<!-- Modal -->
{% for transaction in transaction_list %}
<div class="modal fade" id="transactionModal{{ transaction['transaction_id'] }}" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel{{ transaction['transaction_id'] }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel{{ transaction['transaction_id'] }}">Transaction Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if transaction["amount"] is not none %}
                <p class="left-align"><strong>Amount:</strong> {{ transaction["amount"] | dkk }} DKK</p>
                {% endif %}
                {% if transaction["balance_updated"] is not none %}
                <p class="left-align"><strong>Balance:</strong> {{ transaction["balance_updated"] | dkk }} DKK</p>
                {% endif %}
                {% if transaction["transaction_id"] is not none %}
                <p class="left-align"><strong>Transaction ID:</strong> {{ transaction["transaction_id"] }}</p>
                {% endif %}
                {% if transaction["account"] is not none %}
                <p class="left-align"><strong>Account:</strong> {{ registration_number }}-{{ accountnum }}</p>
                {% endif %}
                {% if transaction["message_to_receiver"] is not none %}
                <p class="left-align"><strong>Text from sender:</strong> {{ transaction["message_to_receiver"] }}</p>
                {% endif %}
                {% if transaction["own_text"] is not none %}
                <p class="left-align"><strong>Own text:</strong> {{ transaction["own_text"] }}</p>
                {% endif %}
                {% if transaction["transfer_date"] is not none %}
                <p class="left-align"><strong>Transfer Date:</strong> {{ transaction["transfer_date"] }}</p>
                {% endif %}
                {% if transaction["sender_name"] is not none %}
                <p class="left-align"><strong>Sender:</strong> {{ transaction["sender_name"] }}</p>
                {% endif %}
                {% if transaction["sender_account"] is not none %}
                <p class="left-align"><strong>Sender account:</strong> {{ registration_number }}-{{ transaction["sender_account"] }}</p>
                {% endif %}
                {% if transaction["receiver_name"] is not none %}
                <p class="left-align"><strong>Receiver:</strong> {{ transaction["receiver_name"] }}</p>
                {% endif %}
                {% if transaction["receiver_account"] is not none %}
                <p class="left-align"><strong>Receiver account:</strong> {{ transaction["receiver_account"] }}</p>
                {% endif %}
                {% if transaction["expedited_by"] is not none %}
                <p class="left-align"><strong>Expedited by:</strong> {{ transaction["expedited_by"] }}</p>
                {% endif %}
                {% if transaction["transaction_type_name"] is not none %}
                <p class="left-align"><strong>Transaction Type:</strong> {{ transaction["transaction_type_name"] }}</p>
                {% endif %}
                
                <script>
                  function printTransaction() {
                      var transactionDetails = document.querySelector('.modal-body').innerHTML;
                      var printWindow = window.open('', 'Print Window', 'height=400,width=600');
                      printWindow.document.write('<html><head><title>Transaction Details</title>');
                      printWindow.document.write('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">');
                      printWindow.document.write('</head><body>');
                      printWindow.document.write(transactionDetails);
                      printWindow.document.write('</body></html>');
                      printWindow.document.close();
                      printWindow.print();
                  }
                  </script>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="printTransaction()">Print</button>
          </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
